<div class="app-container">
    <!-- Case Virtual Assistant Component -->
    <section>
        <h1 class="mat-display-2">Virtual-Assistant-Component Showcase</h1>

        <app-virtual-assistant-tree [dataToShow]='data1'></app-virtual-assistant-tree>
        <mat-divider></mat-divider>

        <app-virtual-assistant-tree [dataToShow]='data2'></app-virtual-assistant-tree>
        <mat-divider></mat-divider>

        <app-virtual-assistant-tree [dataToShow]='data3'></app-virtual-assistant-tree>
        <mat-divider></mat-divider>
    </section>

    <!-- Two-Buttons-Container Case 1 -->
    <section>
        <h1 class="mat-display-2">Two-Buttons-Container Showcase</h1>

        <h2 class="mat-headline">Case 1</h2>
        <app-two-buttons-container
            mainButtonText="Guardar"
            mainButtonBackground="primary"
            [mainButtonFunction]="btnGuardar" 
            secondaryButtonText="Ver Resumen" 
            secondaryButtonBackground=""
            [secondaryButtonFunction]="btnResumen">

            <app-virtual-assistant-tree [dataToShow]='data1'></app-virtual-assistant-tree>
        </app-two-buttons-container>
    </section>

    <!-- Two-Buttons-Container Case 2 -->
    <section>
        <mat-divider></mat-divider>
        <h2 class="mat-headline">Case 2</h2>
        <app-two-buttons-container 
            mainButtonText="Compartir" 
            mainButtonBackground="accent"
            [mainButtonFunction]="btnCompartir" 
            secondaryButtonText="Imprimir" 
            secondaryButtonBackground="warn"
            [secondaryButtonFunction]="btnImprimir">

            <app-virtual-assistant-tree [dataToShow]='data2'></app-virtual-assistant-tree>
        </app-two-buttons-container>
    </section>

    <!-- Two-Buttons-Container Case 3 -->
    <section>
        <mat-divider></mat-divider>
        <h2 class="mat-headline">Case 3</h2>
        <app-two-buttons-container 
            [mainButtonText]="buttonDisabledText" 
            [mainButtonDisabled]="false" 
            [mainButtonFunction]="btnDisable" 
            [secondaryButtonDisabled]="isButtonDisabled">

            <h1 class="mat-elevation-z8">Hola Mundo!</h1>
        </app-two-buttons-container>
    </section>

    <!-- Two-Buttons-Container Case 4 -->
    <section>
        <mat-divider></mat-divider>
        <h2 class="mat-headline">Case 4 <span class="mat-subheading-1">Empty component</span></h2>
        <app-two-buttons-container></app-two-buttons-container>
    </section>
    

</div>